@import ember-paper

li.available
  color: green

li.out_of_stock
  color: red

h3.active
  color: green !important

h3.not-active
  color: red !important

#container
  background-color: #f2ece4
  width: auto
